*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.container{
    max-width: 1350px;
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    border: 1px solid red;
    padding: 10px;
    background-color: bisque;

}
.listitem{
    display: flex;
        gap: 22px;
        justify-content: center;
        list-style: none;
        align-items: center;
}
.listitem a{
    text-decoration: none;
    text-align: center;
}
.btn-1{
    padding: ;
    background-color: green;
    color: whitesmoke;
    border-radius: 10px;
    font: weight bolder; 
    
}
section{
    gap: 120px;
    text-align: center;
    border: 1px solid red;
    padding: 80px;
background-image: url(./assets/hero-bg.png);
image-repeat: no-repeat;
}
.btn-2{
    color:whitesmoke ;
    background-color:green ;
}
.btn-3{
    background: transparent;
}
h4{
text-decoration: none;
list-style: none;
}
